In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# This is a custom matplotlib style that I use for most of my charts
# plt.style.use('tableau10.mplstyle')

child_data = pd.read_csv(' OECD.csv')
child_data.head()

    國家 擁有大學學歷比例(OECD)    GDP
0   俄國         53.30%  4.90%
1  加拿大         51.30%  6.60%
2   日本         46.10%  5.10%
3  以色列         46.40%  7.50%
4   美國         42.50%  7.30%

In [ ]:
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue', 'pink', 'yellow', 'red', 'blue']
explode = (0.1, 0, 0, 0, 0, 0, 0, 0)  # explode 1st slice
 
# Plot
patches, texts, autotexts = plt.pie(sizes, colors = colors, autopct='%1.1f%%', startangle=90)

plt.legend(patches, labels, loc="best")
plt.axis('equal')
plt.tight_layout()
plt.show()